<% helpers.includeJs('dialog/share.js') %>
<h2>Permissions for <%=path %></h2>
<table id="share-table" cellspacing="0" cellpadding="0">
  <tr id="share-table-header">
    <td id="share-header-user">User</td>
    <td id="share-header-permission">Access</td>
    <td id="share-header-action"></td>
  </tr>
  <tr id="share-new-row">
    <td>
      <select id="share-new-user"></select>
    </td>
    <td>
      <select id="share-new-permission"></select>
    </td>
    <td>
      <button id="share-new-add">Add</button>
    </td>
  </tr>
</table>

<div id="share-actions">
<button id="share-ok">OK</button>
<button id="share-cancel" onclick="close_dialog()">Cancel</button>
</div>
<script type="text/javascript">
function submit_form() {
  $.post("<%=path %>", $("#share-form").serialize(), function() {
    location.reload();
  });
}
function initialize() {
  var users = ['anyone' 
    <% auth.recent_users().forEach(function(userId) { %>
    , '<%=userId %>'
    <% }); %>
  ];
  var permissions = ['read', 'claim', 'write', 'owner'];
  var existingPermissions = [
    <% 
    acl.forEach(function(entry) {
      if(entry.path == folderPath) {
        %>{user: '<%=entry.userId %>', permission: '<%=entry.permission %>'},<%
      }
    });
    %>
  ];
  var callback = function(modifications) {
    $.post("<%=path %>", {acl_batch: JSON.stringify(modifications)}, function() {
      close_dialog();
    });
  };
  initShareDialog(users, permissions, existingPermissions, callback);
}
</script>