<% helpers.setHtmlTitle([ project.getName(), folder.getProjectRelativePath() ]) %>
<% helpers.includeCss("editor_ejs.css") %>

<div id="editorpage">

<div id="editortop">
  <div id="docbar">
    <div id="docbarproject"><span><%= project.getName() %></span></div>
    <div id="docbarfile"><span><%= folder.getProjectRelativePath() %></span></div>
  </div>
</div>

<div id="sidebarbox">
  <div class="sidebarsection">
    <%= helpers.renderList("explorer", projectfiles, folder) %>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <form id="wizardcontainerbox" method="post">
      <% var members = folder.members(); %>
      <% var memberCount = members.length; %>
      <p>Folder contains <%= memberCount %> item<%= memberCount == 1 ? '' : 's' %></p>
      
      <table id="filegrid">
      <tr>
      <% for (var idx = 0; idx < memberCount; idx++) { %>
        <%= helpers.renderView("filegrid", members[idx]) %>
      <% } %>
      </tr>
      </table>
      
      <table>
      <tr><td>
      <p><img src="/static/img/eclipse/ui.obj.folder.gif"/> Create a sub-folder in this folder</p>
      <p><input name="foldername"/></p>
      <p><button name="folder" type="submit" value="1">Create sub-folder</button></p>
      </td><td>
      <p><img src="/static/img/eclipse/ui.obj.file.gif"/> Create a file in this folder</p>
      <p><input name="filename"/></p>
      <p><button name="file" type="submit" value="1">Create file</button></p>
      </td></tr>
      </table>
    </form>
  </div>
</div>

</div>
