<% helpers.setHtmlTitle(project.getName()) %>
<% helpers.includeCss("editor_ejs.css") %>
<% helpers.includeCometClient() %>
<% helpers.includeTreeScripts() %>

<div id="editorpage">

<%= helpers.renderPartial("docbar", { project: project.getName() }) %>

<div id="sidebarbox">
  <div class="sidebarsection">
    <div id="treecontainer">
    </div>
  </div>
</div>

<div id="padmain">
  <div id="padeditor">
    <form id="wizardcontainerbox" method="post">
      <h1>Java project</h1>
      <p><a href="/<%= project.getName() %>/.project">Edit project configuration XML</a></p>
      <p><a href="/<%= project.getName() %>/.classpath">Edit classpath configuration XML</a></p>
      
      <div><%= helpers.renderPartial("filegrid", { members: project.members() }) %></div>
      <div><%= helpers.renderPartial("create", { inside: "project" }) %></div>
      <div><%= helpers.renderPartial("acl", { acl: acl, resource: project }) %></div>
      <div><%= helpers.renderPartial("markers", { markers: markers }) %></div>
    </form>
  </div>
</div>

</div>
