<!DOCTYPE html>
<html>
<head>
<title>Collabode - <%= helpers.htmlTitle() %></title>
<base href="<%= helpers.baseHref() %>" />
<%= helpers.cssIncludes() %>
<%= helpers.headExtra() %>
</head>
<body id="<% helpers.bodyId() %>" class="<%= helpers.bodyClasses() %>">
<%= bodyHtml %>
<%= helpers.clientVarsScript() %>
<%= helpers.jsIncludes() %>
</body>
</html>
