<% helpers.addToHead('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">') %>
<% helpers.setHtmlTitle("Output Globs") %>
<% helpers.includeCss("jquery.mobile-1.0.min.css") %>

<% helpers.addToHead('<link rel="stylesheet/less" type="text/css" href="static/css/mobile.less"/>') %>
<% helpers.addToHead('<script type="text/javascript" src="static/js/less-1.1.3.min.js"></script>') %>

<% helpers.includeJQuery() %>
<% helpers.includeJQueryMobile() %>
<% helpers.includeJs("mobile/diff_match_patch.js") %>
<% helpers.includeJs("mobile/globs.js") %>

<div data-role="page">

  <div id="loading-page">
  	<p>Loading
  	<br>
  	<img src="static/img/mobile/ajax-loader.gif">
  	</p>
  </div>

<div id="variant-toggle">VT</div>

<div id="globs-filechooser">
  <ul>
  <% for (file in outputGlobs) { %>
    <% fileid = file.substring(0, file.indexOf(".")).split(" ").join() %>
    <li id="globs-<%= fileid %>"><%= file %></li>
  <% }; %>
  </ul>
</div>

<div id="globs-box-diffs"></div>

<div id="globs-box">
  <% for (file in outputGlobs) { %>
    <% fileid = file.substring(0, file.indexOf(".")).split(" ").join() %>
    <% globsList = outputGlobs[file] %>
    <% for (g in globsList) { %>
   	  <% glob = globsList[g] %>
   	  <div class="globs-card globs-<%= fileid %>" count=<%= glob.count %>>
   	    <%= glob.text %>
      </div>
    <% }; %>
  <% }; %>
</div>

</div>