<td class="icon <%= item.severityName %>Marker"></td>
<td><%= toHTML(item.message) %></td>
<td><a href="<%= item.resource.getFullPath() %>"><%= item.resource.getName() %></a></td>
<td>line&nbsp;<%= item.lineNumber %></td>
