<div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_9">How understandable was this job request?
</label>
<label class="ss-q-help" for="entry_9"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_9_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">very hard to understand</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="1" class="ss-q-radio" id="group_9_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="2" class="ss-q-radio" id="group_9_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="3" class="ss-q-radio" id="group_9_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="4" class="ss-q-radio" id="group_9_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="5" class="ss-q-radio" id="group_9_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="6" class="ss-q-radio" id="group_9_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.9.group" value="7" class="ss-q-radio" id="group_9_7"></td>
<td class="ss-scalerow ss-rightlabel">very easy to understand</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_10">How difficult to do was this job?
</label>
<label class="ss-q-help" for="entry_10"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_10_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">very easy</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="1" class="ss-q-radio" id="group_10_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="2" class="ss-q-radio" id="group_10_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="3" class="ss-q-radio" id="group_10_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="4" class="ss-q-radio" id="group_10_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="5" class="ss-q-radio" id="group_10_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="6" class="ss-q-radio" id="group_10_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.10.group" value="7" class="ss-q-radio" id="group_10_7"></td>
<td class="ss-scalerow ss-rightlabel">very difficult</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_11">How successful would you rate your work on this job?
</label>
<label class="ss-q-help" for="entry_11"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.11.group" value="No progress" class="ss-q-radio" id="group_11_1">
No progress</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.11.group" value="Minimal progress" class="ss-q-radio" id="group_11_2">
Minimal progress</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.11.group" value="OK progress" class="ss-q-radio" id="group_11_3">
OK progress</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.11.group" value="Excellent progress" class="ss-q-radio" id="group_11_4">
Excellent progress</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_12">How much would you want to work on jobs like this in the future?
</label>
<label class="ss-q-help" for="entry_12"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_12_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">not interested</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="1" class="ss-q-radio" id="group_12_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="2" class="ss-q-radio" id="group_12_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="3" class="ss-q-radio" id="group_12_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="4" class="ss-q-radio" id="group_12_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="5" class="ss-q-radio" id="group_12_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="6" class="ss-q-radio" id="group_12_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.12.group" value="7" class="ss-q-radio" id="group_12_7"></td>
<td class="ss-scalerow ss-rightlabel">very interested</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_13">Comments about this job:
</label>
<label class="ss-q-help" for="entry_13"></label>
<textarea name="<%= id %>entry.13.single" rows="8" cols="75" class="ss-q-long" id="entry_13"></textarea></div></div></div>
