<div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">How successful was this request at moving your work forward?
</label>
<label class="ss-q-help" for="entry_1"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.1.group" value="Negative progress - e.g. broke something, deleted code" class="ss-q-radio" id="group_1_1">
Negative progress - e.g. broke something, deleted code</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.1.group" value="No progress - e.g. no result, didn&#39;t use the result" class="ss-q-radio" id="group_1_2">
No progress - e.g. no result, didn&#39;t use the result</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.1.group" value="Minimal progress" class="ss-q-radio" id="group_1_3">
Minimal progress</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.1.group" value="OK progress" class="ss-q-radio" id="group_1_4">
OK progress</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="<%= id %>entry.1.group" value="Excellent progress" class="ss-q-radio" id="group_1_5">
Excellent progress</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Please explain the success/failure and what was good/bad about the result:
</label>
<label class="ss-q-help" for="entry_2"></label>
<textarea name="<%= id %>entry.2.single" rows="8" cols="75" class="ss-q-long" id="entry_2"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_3">Did you save time or attention by outsourcing this task?
</label>
<label class="ss-q-help" for="entry_3"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_3_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">no savings</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="1" class="ss-q-radio" id="group_3_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="2" class="ss-q-radio" id="group_3_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="3" class="ss-q-radio" id="group_3_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="4" class="ss-q-radio" id="group_3_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="5" class="ss-q-radio" id="group_3_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="6" class="ss-q-radio" id="group_3_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.3.group" value="7" class="ss-q-radio" id="group_3_7"></td>
<td class="ss-scalerow ss-rightlabel">lots of savings</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Did you waste time or attention on this task?
</label>
<label class="ss-q-help" for="entry_4"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_4_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">no waste</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="1" class="ss-q-radio" id="group_4_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="2" class="ss-q-radio" id="group_4_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="3" class="ss-q-radio" id="group_4_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="4" class="ss-q-radio" id="group_4_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="5" class="ss-q-radio" id="group_4_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="6" class="ss-q-radio" id="group_4_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.4.group" value="7" class="ss-q-radio" id="group_4_7"></td>
<td class="ss-scalerow ss-rightlabel">lots of waste</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">Please explain the effort spent/saved, and any other comments you have on this task:
</label>
<label class="ss-q-help" for="entry_5"></label>
<textarea name="<%= id %>entry.5.single" rows="8" cols="75" class="ss-q-long" id="entry_5"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">How likely would you be to outsource this task, or one like it, in the future?
</label>
<label class="ss-q-help" for="entry_6"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_5">5</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_6">6</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_6_7">7</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">not likely</td>
<td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="1" class="ss-q-radio" id="group_6_1"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="2" class="ss-q-radio" id="group_6_2"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="3" class="ss-q-radio" id="group_6_3"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="4" class="ss-q-radio" id="group_6_4"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="5" class="ss-q-radio" id="group_6_5"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="6" class="ss-q-radio" id="group_6_6"></td> <td class="ss-scalerow"><input type="radio" name="<%= id %>entry.6.group" value="7" class="ss-q-radio" id="group_6_7"></td>
<td class="ss-scalerow ss-rightlabel">very likely</td></tr></table></div></div></div>
